body {
    margin: 0;
    padding: 0;
    background-color: #fff;

    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #585858;

}

body.no-scroll,
body.show-nav {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* Container */
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

}




/*Header*/
.header {

    margin-top: 17px;


    position: relative;
    z-index: 5;
    color: #fff;

}

/*Cloud*/
.cloud__top {
    position: absolute;

    background-size: cover;
    width: 100%;

    margin-top: -20px;


    z-index: 3;
    overflow: visible;

}


/* Page */
.page {

    background: url(/img/Background.jpg), center no-repeat;

    background-size: cover;
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100vh;

}

.page::after {
    content: '';
    position: absolute;

    top: 0;
    overflow: hidden;

    background-size: cover;
    width: 100%;
    height: 100%;



    background-color: rgba(0, 0, 0, .5);

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

}

.nav__link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    font-family: 'Rubik';
    font-style: normal;


}



.nav__link--call {
    font-size: 12px;
    padding: 14px 34px;
    background-color: #397D25;
    color: #fff;
    border-radius: 100px;
    text-transform: initial;

}


.header__title {
    margin-top: 300px;
    width: 728px;
    height: 170px;
}

.title__text {
    font-family: 'Lexend Deca', sans-serif;

    font-weight: 700;
    font-size: 36px;

    color: #fff;
    font-style: normal;


}

.titile__green {
    color: #4CAB30;
}

.header__text {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
}

.btn {

    display: inline-block;
    color: #fff;
    padding: 15px 50px;
    border-radius: 30px;
    background-color: #397D25;
    border: 2px solid #fff;
    cursor: pointer;
    text-align: center;

}



.woodboard {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 100px;
    width: 570px;
    height: auto;
    z-index: 2;


}

/*Товары*/
.tovari {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-top: 100px;
    margin-bottom: 100px;
}


.img__tovar {
    width: 10%;
    margin: 0 50px 0 0;
    align-items: center;

}

.tovar__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 1000px;
    margin: auto;

}

.tovar {

    display: flex;
    justify-content: center;
    margin: 20px 0;
}


.tovar:last-child{

   margin-bottom: 0;
}
.tivar__title {
    font-weight: 500;
    color: #000;
    text-align: left;
    margin-bottom: 10px;
}

.topvary__text {
    width: 80%;
    text-align: left;
}

.pila {
    position: absolute;
    z-index: -10;
    right: 110px;
    top: 725px;
    overflow: hidden;
}


.title__info {
    height: 100vh;
    margin-bottom: 140px;
}


.el {
    position: absolute;
    bottom: -1107px;
}

.el2 {
    position: absolute;
    right: 0;
    bottom: -1107px;
}


/* advantages */
.advantages {



    background: #000 url(/img/Rectangle7.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}





.advantages__title {
    padding-top: 130px;
    padding-bottom: 150px;
    text-align: center;
    color: #fff;
}


.obj__text {
    color: #fff;
    font-family: serif;
    width: 110px;
    font-size: 14px;
    text-align: center;

}


.obj__flex {
    padding: 0 100px;
    display: flex;
    justify-content: space-around;

    margin-bottom: 150px;


}

.obj__img {
    text-align: center;
}





.bnt--opacity {


    background-color: rgba(0, 0, 0, .1);

    border: #397D25 solid 2px;
    box-shadow: 0 0 20px #397D25;




    display: inline-block;
    color: #fff;
    padding: 15px 50px;
    border-radius: 30px;


    cursor: pointer;
    text-align: center;
}


.btn__center {
    text-align: center;
}

/* advantages end */




/* About us  */

.about {
    margin: 130px 0;
}

.title__about {

    text-align: center;
    color: #000;
    margin-bottom: 80px;
}

.service_about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin: auto;
    width: 800px;
    align-items: center
}


.img__about {
    width: 10%;
}

.text__about {
    width: 80%;
    display: inline-block;
 

}

.service_about:last-child{
    padding-bottom: 0; 
}



/* ./About us  */

/* delivery */

.delivery{
  

    background: #000 url(/img/Delivery/background.jpg) center no-repeat;
    background-size: cover;
    width: 100%; 
    height: 100vh;

}

.delivery__title{
    text-align: center;
    font-size:40px;
    font-weight: 500;
    padding-top: 120px;
    padding-bottom: 80px;
}

.delivery__img{
    text-align: center;
}

.delivery__icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;

}
.delivery__text{
    color: #fff;

}


.delivery__h2{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.delivery__car{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
}

.delivery__h3{

    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: 400;

}
/* ./delivery */