body {
    margin: 0;

    background-color: #fff;

    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #585858;

}

body.no-scroll,
body.show-nav {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* Container */
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}




/*Header*/
.header {

    margin-top: 17px;


    position: relative;
    z-index: 5;
    color: #fff;

}


/* Page */
.page {
    background: url(/img/Background.jpg), 0px 0px no-repeat;
    background-size: cover;

    width: 100%;

    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;


}

.page::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

}

.nav__link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    font-family: 'Rubik';
    font-style: normal;


}



.nav__link--call {
    font-size: 12px;
    padding: 14px 34px;
    background-color: #397D25;
    color: #fff;
    border-radius: 100px;
    text-transform: initial;

}


.header__title {
    margin-top: 180px;
    width: 728px;
    height: 170px;
}

.title__text {
    font-family: 'Lexend Deca', sans-serif;

    font-weight: 700;
    font-size: 36px;

    color: #fff;
    font-style: normal;


}

.titile__green {
    color: #4CAB30;
}

.header__text {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
}

.btn {

    display: inline-block;
    color: #fff;
    padding: 15px 50px;
    border-radius: 30px;
    background-color: #397D25;
    border: 2px solid #fff;
    cursor: pointer;
    text-align: center;

}



.woodboard {
    position: absolute;
    overflow: hidden;
    right: -327px;
    top: 0;
    width: 570px;
    height: auto;

}